.container {
   width: 700px;
   height: 500px;
   position: relative;
   overflow: hidden;
}
.picture {
   width: 100%;
   height: 100%;
   object-fit: cover;
   position: absolute;
   transition: 0.3s;
}

.container:hover .picture {
   transform: scale(1.25);
}
